[NETWORK]
IP_INTERFACE = http://192.168.16.64/	
CAPTURE_PLATE_URL = http://192.168.16.28/images/snapshot.jpg

[DIRECTORIES]
SNAPSHOT_DIR = C:\Snapshots
LOG_DIR = C:\Users\Usuario\Documents\placas_flypass

[PARKING]
IdParqueaderoHorus = 50

[AUTH]
EMAIL = gabriel.cortes@incomelec.com.co
PASSWORD = Incomelec2024*